<div class="jumbo">
	<div class="right tomster"></div>
	<h2>Welcome!</h2>
	<p>We hope you find exactly what you're looking for in a place to stay.</p>
	{{#link-to "about" class="button"}}
		About
	{{/link-to}}
</div>

{{#each model as |rentalUnit|}}
	// invoke rental-listing component by name, assign each rentalUnit as the rental attribute of the component.
	{{rental-listing rental=rentalUnit}}
{{/each}}